.searchBar {
    width: 400px;
    height: 40px;
    border: 1px solid #c8c8c8;
    padding: 1rem;
    border-radius: 4px;
    z-index: 99;
    transition: all 0.2s ease;
}

.searchBar:hover, .searchBar:focus {
    background-color: #e3e3e3;
    border: 1px solid #afafaf;
}

.resultItem {
    cursor: pointer;
    background-color: white;
    transition: background-color 0.2s ease;
    padding: 4px 1rem;
}

.resultItem:hover {
    background-color: #c8c8c8;
}

.searchResult {
    position: absolute;
    list-style: none;
    background-color: white;
    border: 1px solid #c8c8c8;
    width: 400px;
    padding: 0;
    top: 38px;
    z-index: 98;
}

.searchResult > li {
    display: flex;
    width: 100%;
}

.searchContainer {
    position: relative;
}

.symbolContainer {
    width: 100px;
}

.companyContainer {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.searchKeyword {
    color: #ec5e2a;
    font-weight: 600;
}
