.searchBar {
    width: 370px;
    margin-left: 30px;
    height: 3.4rem;
    /* border: 1px solid #c8c8c8; */
    padding: 1rem;
    border-radius: 4px;
    z-index: 99;
    /* transition: all 0.2s ease; */
}

/* .searchBar:hover, .searchBar:focus {
    background-color: #e3e3e3;
    border: 1px solid #afafaf;
} */

.iconContainer {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.resultItem {
    cursor: pointer;
    background-color: white;
    transition: background-color 0.2s ease;
    padding: 4px 1rem;
}

.resultItem:hover {
    background-color: #c8c8c8;
}

.searchResult {
    position: absolute;
    list-style: none;
    background-color: white;
    border: 1px solid #c8c8c8;
    width: 400px;
    padding: 0;
    top: 38px;
    left: -1px;
    z-index: 98;
}

.searchResult > a > li {
    display: flex;
    width: 100%;
}

.searchContainer {
    position: relative;
    width: 400px;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    transition: all 0.2s ease;
    margin-left: 2.2rem
}

.searchContainer:hover {
    -webkit-box-shadow: 0px 0px 30px 10px rgba(200,200,200,0.67);
    -moz-box-shadow: 0px 0px 30px 10px rgba(200,200,200,0.67);
    box-shadow: 0px 0px 30px 10px rgba(200,200,200,0.67);
    border-color: #ffffff;
}

.symbolContainer {
    width: 100px;
}

.companyContainer {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.searchKeyword {
    color: #ec5e2a;
    font-weight: 600;
}


@media screen and (max-width: 800px) {
    .searchBar{
        max-width: 380px;
        width: 100%;
    }

    .searchContainer{
        width: 85%;
        margin-left: 0;
    }
}