.searchBar {
    width: 100%;
    height: 3.4rem;
    /* border: 1px solid #c8c8c8; */
    padding: 1rem;
    border-radius: 4px;
    z-index: 105;
    padding-left: 4rem;
    background-color: white;
    position: relative;
    overflow: hidden;
    /* transition: all 0.2s ease; */
}

/* .searchBar:hover, .searchBar:focus {
    background-color: #e3e3e3;
    border: 1px solid #afafaf;
} */

.iconContainer {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 110;
}

.resultItem {
    cursor: pointer;
    background-color: white;
    transition: background-color 0.2s ease;
    padding: 4px 1rem;
}

.resultItem:hover {
    background-color: var(--rockethood-border-lightgray);
}

.searchResult {
    position: absolute;
    list-style: none;
    background-color: white;
    border: 1px solid white;
    width: calc(100%);
    padding: 0;
    z-index: 98;
    -webkit-box-shadow: 0px 0px 30px 10px rgba(200, 200, 200, 0.67);
    -moz-box-shadow: 0px 0px 30px 10px rgba(200, 200, 200, 0.67);
    box-shadow: 0px 0px 30px 10px rgba(200, 200, 200, 0.67);
    border-radius: 0 0 .4rem .4rem;
}

.searchResult>a>li {
    display: flex;
    width: 100%;
}

.searchContainer {
    position: relative;
    width: 400px;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    transition: all 0.2s ease;
    margin-left: 2.2rem;
    z-index: 110;
    background-color: white;
}

.searchContainer:hover {
    -webkit-box-shadow: 0px 0px 30px 10px rgba(200, 200, 200, 0.67);
    -moz-box-shadow: 0px 0px 30px 10px rgba(200, 200, 200, 0.67);
    box-shadow: 0px 0px 30px 10px rgba(200, 200, 200, 0.67);
    border: none;
}

.searchContainer:focus-within {
    border: none;
    border-radius: 4px 4px 0 0 ;
    -webkit-box-shadow: 0px 0px 30px 10px rgba(200, 200, 200, 0.67);
    -moz-box-shadow: 0px 0px 30px 10px rgba(200, 200, 200, 0.67);
    box-shadow: 0px 0px 30px 10px rgba(200, 200, 200, 0.67);
    border: none;
}

.searchBar:hover {
    border-radius: 0;
}

.searchBar:focus-within {
    border-radius: 0;
}

.symbolContainer {
    width: 100px;
}

.companyContainer {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.searchKeyword {
    color: #ec5e2a;
    font-weight: 600;
}


@media screen and (max-width: 800px) {
    .searchBar {
        max-width: 380px;
        width: 100%;
    }

    .searchContainer {
        width: 85%;
        margin-left: 0;
    }
}