.app-home-container {
    display: flex;
    justify-content: center;
    height: 100%;
}

.app-home {
    height: 100%;
    max-width: 141.6rem;
    display: flex;
    padding: 3.6rem 3rem;
    padding-bottom: 0;
}

.app-home-left {
    width: 75%;
}

.app-home-right {
    width: 25%;
    padding: 0 2.4rem;
    padding-bottom: 3.6rem;
    min-width: 2.9rem
}

.buying-power-section {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    font-weight: 600;
    padding-top: 3.6rem;
    padding-bottom: 2.4rem;
    border-bottom: 1px solid var(--rockethood-form-lightgray)
}



#app-home-chart-container {
    padding: 0 2.4rem;
}

.app-home-right::-webkit-scrollbar {
    display: none;
}


@media screen and (max-width: 1250px) {
    .app-home {
        width: 100vw;
    }

    .app-home-left {
        width: calc(100vw - 35rem);
    }

    #app-nav-bar-logo {
        margin-right: 2.4rem;
    }

    .app-home-right {
        width: 35rem;
    }
}


@media screen and (max-width: 750px) {
    .app-home {
        padding: 3.6rem 1.2rem;
    }

    .app-home-left {
        width: 100%;
    }

    .app-home-right {
        display: none;
    }

    #app-nav-bar-logo {
        margin-right: 2.4rem;
    }

    #apexchartsstock-chart {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .app-home {
        max-width: 389px;
    }

    #app-nav-bar {
        padding: 0 2.4rem;
    }

    #all-news-inner-container {
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .news-image-container {
        display: none;
    }

    #all-news-ticker-container {
        display: none;
    }

    #all-news-inner-container::-webkit-scrollbar {
        display: none;
    }

    #navbar-container {
        width: 100%;
        padding: 0 2.4rem;
    }
}