.app-home-container {
    display: flex;
    justify-content: center;
    height: 100%;
}

.app-home {
    height: 100%;
    max-width: 141.6rem;
    display: flex;
    padding: 3.6rem 3rem;
    padding-bottom: 0;
}

.app-home-left {
    width: 75%;
}

.app-home-right {
    width: 25%;
    padding: 0 2.4rem;
    padding-bottom: 3.6rem;
}

#app-home-chart-container{
    padding: 0 2.4rem;
}

.app-home-right::-webkit-scrollbar {
    display: none;
}
