#app-nav-bar {
    display: grid;
    align-items: center;
    height: 6.4rem;
    background-color: white;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
    padding: 0 2.4rem;
    grid-template-columns: 1fr minmax(auto, 102.4rem) 1fr;
}

@media screen and (min-width: 1200px) {
    #app-nav-bar {
        padding: 0 4.8rem
    }
}

#app-nav-bar-logo {
    font-size: 3rem;
    justify-self: self-start;
}

.navbar-green:hover {
    color: var(--rockethood-green)
}

.navbar-red:hover {
    color: var(--rockethood-sell-red)
}

#account-button-container {
    width: min-content;
    justify-self: flex-end;
}

#account-button {
    position: relative;
    height: min-content;
    padding: 0;
    border-radius: 0;
    border: none;
    min-width: min-content;
    padding: .6rem 0;
}

#account-button:hover {
    color: var(--rockethood-green);
}

/* #account-button:focus-within {
    color: var(--rockethood-green);
    border-bottom: 2px var(--rockethood-green) solid;
} */

#account-button.account-button-hold {
    color: var(--rockethood-green);
    border-bottom: 2px var(--rockethood-green) solid;
}

#app-nav-bar-account-submenu {
    position: absolute;
    width: 30rem;
    right: 2.4rem;
    line-height: 2rem;
    font-size: 1.5rem;
    border: 1px solid var(--rockethood-border-lightgray);
    border-radius: .8rem;
    background-color: white;
    animation: submenu-opacity 200ms ease-in-out forwards;
    font-weight: 600;
    box-shadow: 0px -12px 24px rgba(0, 0, 0, 0.02), 0px 12px 24px rgba(0, 0, 0, 0.02);
}

@keyframes submenu-opacity {
    from {
        opacity: 0%;
    }

    to {
        opacity: 1;
    }
}

#submenu-account-information {
    padding: 0 2.4rem;
    padding-top: 1.8rem;
    padding-bottom: 1.2rem;
    border-bottom: 1px solid var(--rockethood-border-lightgray);
}

#submenu-profile-container {
    padding: 0 2.4rem;
    display: flex;
    border-bottom: 1px solid var(--rockethood-border-lightgray);
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    align-items: center;
    gap: 1.2rem;
}

#submenu-profile-container:hover {
    cursor: pointer;
    background-color: var(--rockethood-border-lightgray);
    user-select: none;
}

#submenu-profile-container .fa-face-smile {
    font-size: 1.6rem;
}

#submenu-logout-container {
    padding: 0 2.4rem;
    display: flex;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    align-items: center;
    gap: 1.2rem;
}

#submenu-logout-container:hover {
    cursor: pointer;
    background-color: var(--rockethood-border-lightgray);
    user-select: none;
}

#submenu-profile-container .fa-arrow-right-from-bracket {
    font-size: 1.6rem;
}