#app-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6.4rem;
    background-color: white;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
    padding: 0 2.4rem;
}

#app-nav-bar-logo {
    font-size: 3rem;
}

#app-nav-bar-logo:hover {
    color: var(--rockethood-green)
}

#account-button-container {
    width: min-content;
}

#account-button {
    position: relative;
    height: min-content;
    padding: 0;
    border-radius: 0;
    border: none;
    width: 10px;
    min-width: min-content;
}

#account-button:hover {
    color: var(--rockethood-green)
}

#app-nav-bar-account-submenu {
    position: absolute;
    height: 100px;
    background-color: blue;
    animation: submenu-opacity 200ms ease-in-out forwards;
}



@keyframes submenu-opacity {
    from {
        opacity: 0%;
    }

    t0 {
        opacity: 100%;
    }
}

#app-nav-bar-account-submenu-closing {
    position: absolute;
    height: 100px;
    background-color: blue;
    animation: submenu-opacity-closing 200ms ease-in-out forwards;
}



@keyframes submenu-opacity-closing {
    from {
        opacity: 100%;
    }

    t0 {
        opacity: 0%;
    }
}