/* chart tooltip styling */
div.apexcharts-xaxistooltip-bottom, div.apexcharts-xaxistooltip-bottom:before, div.apexcharts-xaxistooltip-bottom:after,
div.apexcharts-xaxistooltip-top, div.apexcharts-xaxistooltip-top:before, div.apexcharts-xaxistooltip-top:after
{
    border: none;
    background-color: transparent;
    padding: 0;
}
