body {
    font-family: "Anek Tamil", sans-serif;
    box-sizing: border-box;
    font-size: 1.4rem
}

button {
    border: 1px solid black;
    border-radius: 2.4rem;
    padding: 0 2.8rem;
    height: 4.4rem;
    font-size: 1.4rem;
    font-weight: 550;
    min-width: 10.2rem
}