#home-page-learn-more {
    background-color: var(--rockethood-darkest-green);
    color: rgb(0, 44, 21);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

#button-container {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
}


#home-video-section {
    background-color: var(--rockethood-darkest-green);
    width: 100%;
}

#under-video-text {
    color: #C3F53C;
    font-weight: 500;
    font-size: 7.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#top-line {
    width: fit-content;
    height: 8rem;

}

#bottom-line {
    width: fit-content;
    height: fit-content;
}

#video-container {
    display: flex;
    justify-content: center;
    object-fit: contain;
    overflow-clip-margin: content-box;
}

#video-container .video{
    max-height: 77.5vh;
    width: 100%;

}

#under-video-container {
    padding: 2.5rem 2.5rem 7.5rem;
    border-bottom: 1px solid #C3F53C;
}

#checkout-section-container {
    background-color: var(--rockethood-darkest-green);
    color: #C3F53C;
}


@media screen and (max-width: 768px) {
    #video-container .video {
        max-height: 62.5vh;
    }
}

@media screen and (max-width: 425px) {
    #video-container .video {
        max-height: 44.5vh;
    }
}