#footer-top-container {
    display: flex;

}

#footer-top-left-container {
    border: 1px solid black;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

#footer-top-right-container {
    border: 1px solid black;
    width: 50%;
}

#footer-top-left-content {
    margin: 1rem 2rem;
    display: flex;
}

#footer-top-right-content {
    margin: 1rem 2rem;
    display: flex;
}

.made-with-icons {
    display: flex;
}

#icons {
    width: 2rem;
    height: 2rem;
    display: flex;
    gap: 1.5rem;
}

#top-footer-text {
    padding-right: 2rem;
}

#render-info {
    margin-right: 1rem;
}


#footer-bottom-container {
    display: flex;
}

#footer-bottom-left {
    width: 50%;
    border: 1px solid black;
}

#footer-bottom-right {
    width: 50%;
    border: 1px solid black;
}

#footer-bottom-left-content {
    /* margin: 1rem 2rem; */
    padding: 2.4rem;
    display: flex;
}

#footer-bottom-right-content {
    padding: 2.5rem;
    display: flex;
}


#text-disclaimer {
    display: flex;
    flex-direction: column;
}

#disclaimer {
    margin-bottom: 2.4rem;
}

#footer-bottom-left-content {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    gap: 5rem;
}

.names {
    font-weight: 600;
}

#name-container{
    display: grid;
    grid-column: auto;
}

#name-container>a{
    font-weight: 400;
    margin-top: 2rem;
}
