
#inventing-basics-image-block {
    display: flex;
    margin: 0 5rem;
    align-items: center;
}

#inventing-basics-title-text{
    font-size: 6rem;
    font-weight: 500;
}

.hero-journey-img{
    height: 59.5rem;
}

#learn-page-inventing-basics-heading-container{
    height: 8rem;
    background-color: #e1ebdc;
    border-bottom: 1px solid black;
}

#learn-page-inventing-basic-title{
    font-weight: 300;
    font-size: 3.5rem;
    padding: 1.5rem;
}

#learn-page-inventing-basics-text-image-container{
    display: flex;
    background-color: blue;
    justify-content: space-around;
    align-items: center;
    margin: 0 23rem;
    padding: 0 3rem;
}
