.learn-page-top-green-section {
    display: flex;
    flex-direction: column;
    background-color: #e1ebdc;
    min-height: 500px;
    position: relative;
    width: 100%;
    border-bottom: .18rem black solid;
}

.learn-page-top-green-section-top {
    font-size: 3.2rem;
    line-height: 3.5rem;
    height: 80px;
    display: flex;
    padding: 0 2.4rem;
    border-bottom: .18rem black solid;
    align-items: center;
}

.learn-page-top-green-section-bottom {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.learn-page-top-green-section-bottom-container {
    max-width: 1224px;
    width: 80%;
    display: flex;
    margin: 0 2.4rem;
    position: relative;
    height: 100%;
}

.learn-page-top-green-section-bottom-content {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    width: 35%;
    height: 100%;
    font-weight: 500;
}

.learn-page-top-green-section-bottom-content h2 {
    font-size: 5.2rem;
    line-height: 5.5rem;
}

.learn-page-top-green-section-bottom-content p {
    font-size: 2.4rem;
    line-height: 2.8rem;
    margin-top: 2.4rem;
}

.learn-page-top-green-section-bottom-image {
    position: absolute;
    right: 0;
    top: -60px;
    width: 60%;
    max-width: 594px;
    max-height: 497;
}

@media screen and (max-width: 768px) {
    .learn-page-top-green-section-bottom-container {
        flex-direction: column;
        align-items: center;
    }

    .learn-page-top-green-section-bottom-content {
        width: 100%;
    }

    .learn-page-top-green-section-bottom-image {
        position: relative;
        right: 0;
        top: 0;
        width: 55%;
        max-width: 594px;
        max-height: 497;
        padding: 8rem 0;
    }
}

.learn-page-bottom {
    width: 1280px;
    border-bottom: 1.75px solid black;
}

/* e1ebdc */