.login-page {
    display: flex;
    height: 100vh;
}

.login-page-left {
    height: 100%;
    width: 50%;
}

.login-page-left>img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.login-page-right {
    display: flex;
    align-items: center;
    min-width: 47.2rem
}

.login-form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5.2rem;
    height: 48rem;
    width: 100%;
}

#login-title {
    font-size: 2.2rem;
    font-weight: 500;
    justify-self: flex-start;
    margin-bottom: 3.6rem;
}

#login-form {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
    width: 100%;
}

.login-form-input {
    display: flex;
    flex-direction: column;
}

#login-form label {
    margin-bottom: .8rem;
}

#login-form input {
    border: 1px solid #e3e9ed;
    line-height: 2rem;
    padding: .65rem 1.2rem;
    border-radius: .4rem;
    transition: border-color 200ms ease-in-out;
}

#login-form input:hover {
    border-color: black;
}

#login-form input:focus-within {
    border-color: var(--rockethood-green);
}


#login-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: black;
    border: none;
    color: white;
    padding: 0 4rem;
    min-width: 12rem;
    max-width: 42rem;
    width: 31%;
    margin-top: 1.2rem;
    margin-bottom: 4rem;
}

#create-an-account {
    font-weight: 600;
    text-decoration: underline;
}

#create-an-account:hover {
    font-weight: 600;
    color: var(--rockethood-green);
    cursor: pointer;
    user-select: none;
}

#login-demo-user {
    font-weight: 600;
    text-decoration: underline;
}

#login-demo-user:hover {
    font-weight: 600;
    color: var(--rockethood-green);
    cursor: pointer;
    user-select: none;
}

#login-failed-text {
    color: var(--rockethood-sell-red);
    animation: shake-login-text .05s 3;
}

#login-form .login-failed-input {
    border-color: var(--rockethood-sell-red);
}

@keyframes shake-login-text {
    0% {
        transform: translate(.3rem);
    }

    100% {
        transform: translate(-.3rem);
    }
}


@media screen and (max-width: 750px) {
    .login-page {
        flex-direction: column;
        height: 100%;
        position: relative;
        width: 100%;
        justify-content: center;
    }

    .login-page-left {
        height: 100vh;
        width: 100%;
    }


    .login-page-right {
        display: flex;
        align-items: center;
        max-width: 100vw;
        position: absolute;
        min-width: 0;
        background-color: rgba(255, 255, 255, 0.883);
        align-self: center;
        padding: 4rem 1rem;
    }

    .login-form-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin: 0;
        padding: 0 2.4rem;
        height: 100%;
    }
}