.app-stocks {
    height: 100%;
    width: 100%;
    max-width: 102.4rem;
    display: flex;
    padding: 3.6rem 0rem;
    padding-bottom: 0;

}

#stock-home-chart-container {
    padding: 0 2.4rem;
    padding-bottom: 4.4rem;
}

.stock-showcase-heading-title {
    font-weight: 500;
    padding-bottom: 1.6rem;
    font-size: 2.4rem;
    margin: 0 2.4rem;
    border-bottom: 1px solid #cccccc;
}

.stock-showcase-info {
    margin-bottom: 4.4rem;
}

#stock-showcase-about-description {
    font-size: 1.5rem;
    margin-top: 2.4rem;
    padding: 0 2.4rem;
}

.stock-showcase-grid {
    font-size: 1.3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding:3rem 2.4rem;
    gap: 1.2rem
}

.stock-showcase-grid-title {
    font-size: 1.35rem;
    font-weight: 650;
}

.app-stock-news-container {
    width: 100%;
    padding-bottom: 3.6rem;
}

.stock-showcase-left {
    width: 72%;
}

.stock-showcase-right {
    width: 28%;
}

@media screen and (max-width: 750px) {

    .app-stocks {
        max-width: 390px;
    }

    .stock-showcase-left {
        width: 100%;
    }

    .stock-showcase-right {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    /* .stock-news-image-container {
        display: none;
    } */

    #stock-news-source-container{
        width: 100%;
    }
}