#stock-news-inner-container{
    margin: 0rem 2.4rem;
    height: 100%;
    padding: 2.5rem 0;
    display: flex;
    justify-content: space-between;
    gap: 2.4rem;
    flex: 1 1 auto;
}

#stock-news-container {
    display: flex;
    width: 100%;
    margin: 2.5rem 0;
    margin-bottom: 0;
    margin-top: 0;
    flex-direction: column;
    height: 19.4rem;
}


#stock-news-container:hover {
    background-color: rgb(245, 248, 250);
}

.stock-news-image-container {
    height: 13.4rem;
    width: 19.6rem;
}

.stock-news-image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#stock-news-source-container {
    /* margin-bottom: 1.2rem */
    width: 65%;
}
