#transactions-outer-container {
    height: 100%;
    position: relative;
}

#transactions-and-watchlist-container {
    position: sticky;
    top: 9.5rem;
}

#transaction-container {
    border: 1px solid var(--rockethood-border-lightgray);
    border-radius: 4px;
    top: 9.5rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px -12px 24px 0px, rgba(0, 0, 0, 0.06) 0px 12px 24px 0px;
    overflow: hidden;
}

#transaction-heading-container {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    height: 4.7rem;
    border-bottom: 1px solid var(--rockethood-border-lightgray);
    padding: 0 2.4rem;
}

#transaction-form {
    padding: 1.2rem 2.4rem 0 2.4rem;
}


.transaction-tab {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.5rem;
}

#transaction-tab-buy {
    color: var(--rockethood-green);
    border-bottom: 2px solid var(--rockethood-green)
}

#transaction-tab-sell {
    color: var(--rockethood-sell-red);
    border-bottom: 2px solid var(--rockethood-sell-red)
}

.transaction-form-data-container {
    display: flex;
    justify-content: space-between;
    min-height: 4.8rem;
    align-items: center;
}

.transaction-shares-or-dollars-outer-container {
    position: relative;
    width: 50%;
    border-radius: .4rem;
    background-color: white;
    height: 100%;
}

.transaction-shares-or-dollars-outer-container:hover:focus-within {
    box-shadow: 0 10px 1px rgba(0, 0, 0, .01), 0 3px 24px rgba(48, 51, 51, .09)
}

#transaction-shares-or-dollars-display {
    font-weight: normal;
    min-width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid var(--rockethood-border-lightgray);
    border-radius: .4rem;
    height: 3.6rem;
    cursor: pointer;
    padding: 0 1.2rem;
    background-color: white;
}


.transaction-shares-or-dollars-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 93%;
    background-color: white;
    width: 100%;
    border: solid 1px var(--rockethood-border-lightgray);
    border-radius: 0 0 .4rem .4rem;
    overflow: hidden;
}

.transaction-shares-or-dollars-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: normal;
    min-width: 100%;
    padding: 0;
    border: 0;
    height: 3.6rem;
}

.transaction-shares-or-dollars-container button.transaction-not-active:hover {
    width: 100%;
    border-radius: 0;
    background-color: var(--rockethood-border-lightgray);
}

.transaction-show-shares-or-dollars-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.transaction-green {
    color: white;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    padding: 0 1.2rem;
    border-radius: 0;
    border: 1px solid var(--rockethood-border-lightgray);
    border: none;
    background-color: var(--rockethood-green);
}

.transaction-red {
    color: white;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    padding: 0 1.2rem;
    border-radius: 0;
    border: 1px solid var(--rockethood-border-lightgray);
    background-color: var(--rockethood-sell-red);
}


#transaction-form-text-input {
    text-align: right;
    width: 50%;
    height: 3.6rem;
    border: 1px solid var(--rockethood-border-lightgray);
    border-radius: .4rem;
    font-size: 1.3rem;
    padding-right: 1.2rem
}

#transaction-amount {
    border-bottom: 1px solid var(--rockethood-border-lightgray)
}

#transaction-amount:-ms-expand {
    display: none;
}

#transaction-est-quantity {
    font-weight: 600;
}

#transaction-submit-container {
    padding: 2.4rem 0;
}


#transaction-buying-power-container {
    font-weight: 350;
}

.transaction-submit-sell {
    background-color: var(--rockethood-sell-red);
    border-color: var(--rockethood-sell-red);
    color: white;
}

.transaction-submit-buy:hover {
    background-color: var(--rockethood-hover-green);
}

.transaction-submit-sell:hover {
    background-color: var(--rockethood-hover-red);
}

.transaction-submit-buy {
    background-color: var(--rockethood-green);
    border-color: var(--rockethood-green);
    color: white;
}

#transaction-submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

#transaction-buying-power-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.8rem;
    padding: 0 1.5rem;
    border-top: 1px solid var(--rockethood-border-lightgray);
}