#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  z-index: 10;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  background-color: white;
  border-radius: 8px;
}

#modal input[type]:first-of-type:focus{
  border: 2px solid black;
  border-radius: 8px 8px 0px 0px;
}

#modal input[type]:last-of-type:focus{
  border: 2px solid black;
  border-radius: 0px 0px 8px 8px;
}

#modal input[type]:focus{
  border: 2px solid black;
  border-radius: 8px;
}