.watchlist-container {
    height: 500px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #cccccc;
}
header {
    box-sizing: border-box;
    border-bottom: 1px solid #cccccc;
    width: 100%;
}
.watchlist-header {
    display: flex;
    align-items: center;
}

.newform-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin:10px 10px 10px 0px;
}
.newform-content-head {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.newform-info {
    flex-grow: 2;
    box-sizing: border-box;
    height: 100%;
}
.newform-info input {
    width: 100%;
    height: 40px;
    border: 1px solid #cccccc;
    padding: 10px;
    border-radius: 5px;
}
.newform-info input:focus  {
    border: 1px solid var(--rockethood-green)
}
.newform-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 28px;
    box-sizing: border-box;
    border-radius: 3px;
    margin-right: 5px;
    background-color: rgb(30,33,36);
    margin-left: 15px;
    
}

.newform-button {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}
.btn-submit {
    background-color: #00C805;
    height: 36px;
    /* width: 80px; */
    padding: 4px 15px;
    color: rgb(255,255,255);
    /* text-align: center; */
    border:1px solid #00C805; 
}
.btn-cancel-form {
    border:1px solid #00C805; 
    color: #00C805;
    height: 36px;
    text-align: center;
    margin-right: 10px;
}
.newform-info {
    padding: 8px 8px 8px 0px;
}

.watchlist-btn-container {
    /* width: 200px; */
    display: flex;
    justify-content: space-between;
}
.update-btn-main {
    position: relative;
}
.btn-open, .btn-openstock, .btn-update, .btn-edit, .btn-close {
    background: none;
    border: transparent;
    min-width: 0;
}
.btn-add {
    padding: 0;
    margin: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-add > i {
    line-height: 30px;
}

.btn-openstock {
    padding: 12px;
}

.watchlist-header-label {
    font-weight: 600;
    font-size: 20px;
    padding-left: 24px;
    flex-grow: 2;
}

.watchlist-content-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.watchlist-wrapper-head { 
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    align-items: center;
}

.watchlist-content-header:hover {
    background-color: var(--rockethood-border-lightgray);
    cursor: pointer;
}

.watchlist-content-header .btn-update {
    visibility: hidden;
}

.watchlist-content-header:hover .btn-update {
    visibility: visible;
}

.watchlist-name {
    text-align: center;
    font-weight: 700;
    font-size: 1.4rem;
}

.watchlist-opening {
    transition: transform 300ms ease 0s;
}

.watchlist-closing {
    transition: transform 300ms ease 0s;
    transform: rotate(180deg);
}

.watchlist-content-header:hover .watchlist-btn {
    color: var(--rockethood-green);
}

.watchlist-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 28px;
    box-sizing: border-box;
    border-radius: 3px;
    margin-right: 5px;
    background-color: rgb(30,33,36);
    margin-left: 15px;
    margin-right: 15px;
}

.watchlist-icon > img {
    width: 18px;
    height: 18px;
}

.watchlist-dropdown {
    position: absolute;
    background-color: white;
    z-index: 1000;
}

.watchlist-stocks-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}
.watchlist-stocks-content:hover {
    background-color: var(--rockethood-border-lightgray);
    cursor: pointer;
}
.watchlist-stocksymbol {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 600;
}

.watchlist-minigraph {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-left: 15px;
    margin-right: 15px;
}

.watchlist-stockprice {
    padding: 12px;
}

.watchlist-stocks-container-closed {
    display: none;
}

.stock-positive {
    color: var(--rockethood-green);
}

.stock-negative {
    color: var(--rockethood-sell-red);
}
