.watchlist-container {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    width: 28rem;
    margin: 1rem 1rem 1rem 0rem;
}

header {
    box-sizing: border-box;
    border-bottom: 1px solid #cccccc;
    width: 100%;
}

.watchlist-header {
    display: flex;
    align-items: center;
}

.newform-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin: 1rem 1rem 1rem 0rem; */
}

.newform-content-head {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.newform-info {
    flex-grow: 2;
    box-sizing: border-box;
    height: 100%;
}

.newform-info input {
    width: 100%;
    height: 40px;
    border: 1px solid #cccccc;
    padding: 10px;
    border-radius: 5px;
}

.newform-info input:focus {
    border: 1px solid var(--rockethood-green)
}

.newform-button {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.btn-submit {
    background-color: #00C805;
    height: 36px;
    /* width: 80px; */
    padding: 4px 15px;
    color: rgb(255, 255, 255);
    /* text-align: center; */
    border: 1px solid #00C805;
}

.btn-cancel-form {
    border: 1px solid #00C805;
    color: #00C805;
    height: 36px;
    text-align: center;
    margin-right: 1rem;
}

.btn-cancel-form:hover{
    background-color: rgba(0,200,5,0.1);
}



.newform-info {
    padding: 8px 8px 8px 0px;
}

.watchlist-btn-container {
    /* width: 200px; */
    display: flex;
    justify-content: space-between;
    padding-right: 0.75rem;
}

.update-btn-main {
    position: relative;
    width: 100%;
}

.btn-open,
.btn-openstock,
.btn-update,
.btn-edit,
.btn-close,
.btn-deleteform {
    background: none;
    border: transparent;
    min-width: 0;
}

.btn-add {
    padding: 0;
    margin: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-add>i {
    line-height: 30px;
}

.btn-openstock {
    padding: 12px;
}

.watchlist-header-label {
    font-weight: 600;
    font-size: 20px;
    padding-left: 24px;
    flex-grow: 2;
}

.watchlist-content-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.watchlist-wrapper-head {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    align-items: center;
}

.watchlist-content-header:hover {
    background-color: var(--rockethood-border-lightgray);
    cursor: pointer;
}

.watchlist-content-header .btn-update {
    visibility: hidden;
}

.watchlist-content-header:hover .btn-update {
    visibility: visible;
}

.watchlist-name {
    text-align: center;
    font-size: 1.4rem;
}

.watchlist-opening {
    transition: transform 300ms ease 0s;
}

.watchlist-closing {
    transition: transform 300ms ease 0s;
    transform: rotate(180deg);
}

.watchlist-content-header:hover .watchlist-btn {
    color: var(--rockethood-green);
}

.watchlist-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    box-sizing: border-box;
    border-radius: 3px;
    margin-right: 5px;
    background-color: var(--rockethood-border-lightgray)
}

.watchlist-icon>img {
    object-fit: cover;
    width: 2rem;
    height: 2rem;
}

.watchlist-dropdown {
    position: absolute;
    background-color: white;
    z-index: 1000;
    width:15rem;
    left: -5rem;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.06);
}
.watchlist-dropdown-update {
    width: 100%;
}
.watchlist-dropdown-update:hover{
    color: var(--rockethood-green);
}
.watchlist-dropdown-delete:hover {
    color: var(--rockethood-green);
}
.watchlist-stocks-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}

.watchlist-stocks-content:hover {
    background-color: var(--rockethood-border-lightgray);
    cursor: pointer;
}

.watchlist-stocksymbol {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 600;
}

.watchlist-minigraph {
    /* height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px; */
    height: 60px;
    display: flex;
    flex-direction: row;
    width: 100%;

}
.watchlist-minigraph:hover {
    background-color: var(--rockethood-border-lightgray);
    cursor: pointer;
}

.watchlist-stockprice {
    padding: 12px;
}

.watchlist-stocks-container-closed {
    display: none;
}

.stock-positive {
    color: var(--rockethood-green);
}

.stock-negative {
    color: var(--rockethood-sell-red);
}

.updateform-container {
    width: 468px;
}

.updateform-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    font-size: 20px;
}

.updateform-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding: 0px 20px 20px 20px;
}

.updateform-info {
    flex-grow: 2;
    box-sizing: border-box;
    height: 100%;
}

.updateform-input {
    width: 100%;
    height: 40px;
    border: 1px solid #cccccc;
    padding: 10px;
    border-radius: 5px;
}

.watchlist-wrapper-head .watchlist-icon {
    margin: 0px 15px;
}

.updateform-info input.updateform-input:focus {
    border: 1px solid var(--rockethood-green);
    border-radius: 5px;
}

.updateform-btnsave {
    padding: 0px 20px 20px 20px;
}

.updateform-content>.watchlist-icon {
    margin: 0px 15px 0px 0px;
}

.btn-close {
    border-radius: 0;
    width: 30px;
    height: 30px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-save {
    border: 1px solid var(--rockethood-green);
    background-color: var(--rockethood-green);
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
}

.watchlistform-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    box-sizing: border-box;
    border-radius: 3px;
    margin-right: 5px;
    background-color: var(--rockethood-border-lightgray);
    margin-left: 15px;
    margin-right: 15px
}
.watchlistform-icon > img {
    object-fit: cover;
    width: 2rem;
    height: 2rem;
}

.delete-container {
    width: 468px;
    display: flex;
    flex-direction: column;
}

.delete-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    padding-left: 20px;
    font-weight: 600;
}

.delete-head>h1 {
    margin: 20px;
}

.delete-btncontainer {
    margin-right: 0;
    margin-top: 20px
}

.delete-btnclose {
    border: none;
    border-radius: 0;
    width: 30px;
    height: 30px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding-left: 20px;
}

.delete-reminder {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
    padding: 0px 20px 20px 20px;
    font-size: 15px;
    margin-left: 20px;
}

.delete-btndelete {
    border: 1px solid var(--rockethood-sell-red);
    background-color: var(--rockethood-sell-red);
    width: 90%;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0px 20px 20px 20px;
}
.addstock-btn {
    border: 1px solid var(--rockethood-green);
    border-radius: 25px;
    background-color: rgb(255,255,255);
    color: var(--rockethood-green);
    width: 90%;
    text-align: center;
    margin: 20px;
}
.addstock-btn:hover {
    background-color: rgba(0,200,5,0.1)
}
.addstock-form-container {
    width: 408px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.addstock-form-content{ 
    display: flex;
    flex-direction: column;
    margin: 2rem;
}
.addstock-form-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}
.addstock-form-title {
    font-size: 20px;
    margin-left: 2rem;
}

.addstock-form-closebtn-main {
    display: flex;
    justify-content: flex-end;
    align-items: cen;
}
.addstock-form-createform {
    display: grid;
    grid-template-columns: 1.5rem 4rem 20rem;
    align-items: center;
    justify-content: center;
}

.addstock-form-btnclose {
    border: none;
    border-radius: 0;
    width: 30px;
    height: 30px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding-left: 20px;

}

.addstock-form-newlist {
    width: 90%;
    margin-left: 20px;
}

.addstock-form-check {
    display: grid;
    grid-template-columns: 3rem 3rem 20rem;
    margin: 1rem 1rem 0rem 0rem;
    align-items: center;
}

.addstock-form-check > label {
    padding-left: 5px;
}

.addstock-form-check > input {
    border: 2px solid var(--rockethood-green);
    width: 1.5rem;
    height: 1.5rem;
}

input[type=checkbox] {
    -webkit-appearance:none;
    -o-appearance:none;
}

.addstock-form-check > input:checked {
    background-color: #00C805;
}

.addstock-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    box-sizing: border-box;
    border-radius: 3px;
    /* margin-right: 2rem; */
    background-color: rgb(255, 255, 255);
    border: 1px solid #cccccc;
   
}
.addstock-icon > img {
    object-fit: cover;
}
.addstock-form-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.addstock-form-btnsave {
    border: 1px solid var(--rockethood-green);
    background-color: var(--rockethood-green);
    width: 90%;
    text-align: center;
    color: rgb(255,255,255);
    margin: 2rem;
}

.addstock-form-btnsave:disabled {
    background-color: #cccccc;
    border: 1px solid #cccccc;
}

.addstock-form-btnopen {
    background: none;
    border: transparent;
    min-width: 0;
    padding: 0;
    margin: 1rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addstock-form-btnopen:hover {
    color: var(--rockethood-darker-green);
    font-weight: 500;
}

.addstock-form-createtitle {
    padding-left: 0.5rem;
}


.addstock-container {
    margin-top: 2.4rem;
    padding: 0 2.4rem;
    display: flex;
    justify-content: center;
}

.addstock-btn {
    padding: 0 4.8rem;
    border-color: var(--rockethood-green);
    color: var(--rockethood-green);
    background-color: white;
}

.addstock-btn:hover {
    background-color: rgba(0,200,5,0.1);
}


.removestock-container {
    padding: 1rem 0rem 0rem 2.5rem;
}
.removestock-btn {
    background: none;
    border: transparent;
    min-width: 0;
}

.removestock-btn:hover {
    color: var(--rockethood-sell-red);
    font-weight: 700;
}

.newform-error {
    /* display: flex; */
    color: var(--rockethood-sell-red);
    list-style: none;
    padding-left: 3rem;
    /* justify-content: flex-end; */
    margin: 0rem 0rem 1rem 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    overflow: scroll;
}
.updateform-error {
    color: var(--rockethood-sell-red);
    list-style: none;
    padding-left: 6rem;
    /* justify-content: flex-end; */
    margin: 0rem 0rem 1rem 1rem;
    font-size: 1.3rem;
    font-weight: 500;
}
.btn-deleteform:hover {
    color: var(--rockethood-green);
}
/* watchlist in profile page */
.profile-page-watchlists-container {
    display: flex;
    flex-direction: column;
}

.profile-page-watchlists-btnname {
    background: transparent;
    border:none;
}

.profile-page-watchlists-stocks {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-bottom: 1px solid #cccccc;
    width: 100%;
}
.profile-page-watchlists-stocks-table {
    margin: 5rem;
}

.profile-page-watchlists-stocks-table-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.profile-page-watchlists-stocks-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
